doctype html
// source code ./src/index.pug
html
  head
    meta(charset='utf-8')
    title Algotithm
    link(rel='shortcut icon' type='image/svg+xml' href='icon/favicon.svg')
    link(rel='icon' sizes='any' href='icon/favicon.svg' type='image/svg+xml')
    link(rel='mask-icon' href='icon/favicon.svg' color='black')
    link(rel='apple-touch-icon' sizes='180x180' href='icon/favicon.svg' type='image/svg+xml')
    include ./pug/look.pug
    include ./pug/script.pug
  body
    //- not working
    include ./pug/helper.pug
    //- in bugy
    include ./pug/ide.pug
    include ./pug/tabs.pug
    #screen.screen
      include ./pug/editor.pug
      include ./pug/console.pug
